<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5Ub2Yn9PIanCcjcV2PbJIj2B419Q6bGI</string>
	<key>GCM_SENDER_ID</key>
	<string>187337507508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentication</string>
	<key>PROJECT_ID</key>
	<string>kazutxt-firebase-overvie-fe7a2</string>
	<key>STORAGE_BUCKET</key>
	<string>kazutxt-firebase-overvie-fe7a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187337507508:ios:2b8ec0b9a4a4bf59998de1</string>
</dict>
</plist>